<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage- Seedlink</title>
    <link rel="stylesheet" href="../Css/home.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="logo">Seedlink</div>
        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#file-share">Shop</a></li>
            <li><a href="##about"></a>About</li>
            

        </ul>
        <div class="nav-icons">
            <a href="#search">Search</a>
            <a href="#cart">🛒+</a>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="image">
        <div class="image-left">
            <img src="../Images/back1.png" alt="Image failed to load" />
        </div>
        <div class="page-right">
            <p>Connecting Farmers Through Innovation and Unity</p>
            <h1>Grow <br> Together</h1>
            <button class="explore-btn">Explore</button>
        </div>
    </section>
</body>
</html>
